
body { 
    width: 95%;
    margin: 2px;
    --s: 75px; /* control the size*/
    --c1: #6b6b6a;
    --c2: #fcebb6;
    background:
        linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item { 
    width: 75%;
    margin: 5px;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    background: white;
    text-shadow: 1px 1px 4px pink;
    font-family: "Finger Paint", sans-serif;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title { 
    color: blue;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.row { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

div.row > p  { 
    margin: 2px;
    font-size: clamp(30px, 8vw, 180px);
    padding-left: 25px;
}

#title-row-the { 
    font-size: clamp(18px, 4vw, 90px)
}

#title-row-cheer {
    font-size: clamp(18px, 1vw, 20px)
}

#title-row-dj {
    width: clamp(60px, 8vw, 120px);
    height: clamp(40px, 6.5vw, 90px);
}

#title-row-jersey {
    width: clamp(40px, 7vw, 90px);
    height: clamp(60px, 10vw, 120px);
}

#title-row-subtitle {
    font-size: clamp(18px, 1vw, 20px);
    color:black;
}

div.row > img  { 
    width: clamp(60px, 10vw, 120px);
    height: clamp(60px, 10vw, 120px);
}

.slogan { 
    opacity: 50%;
    position: absolute;
}

.top-left {
    transform: rotate(-45deg);
    top: 70px;
    left: 0px;
}

.bottom-right {
    bottom: 50px;
    right: 50px;
    transform: rotate(45deg);
}

.icons > img { 
    height: 40px;
    width: 40px;
}

div.premise > p { 
    margin: 0 5% 5% 5%;
}

div.characters > div.row:nth-child(2) {
    justify-content: flex-start;
}

.character-block {
    padding: 15px;
}

div.character-block > li { 
    display: block;
}

.hidden { 
    display: none;
}

.character-gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid black;
}

div.character-gallery-container > img {
    height: 80px;
    width: 80px;
    padding: 10px;
}

