
body { 
    height: 100%;
    width: 100%;
    background: rgb(233,223,196);
    background: -moz-linear-gradient(left, rgba(233,223,196,1) 0%, rgba(233,223,196,1) 1%, rgba(237,227,200,1) 2%, rgba(237,227,200,1) 24%, rgba(235,221,195,1) 25%, rgba(233,223,196,1) 48%, rgba(235,221,195,1) 49%, rgba(230,216,189,1) 52%, rgba(230,216,189,1) 53%, rgba(233,219,192,1) 54%, rgba(230,216,189,1) 55%, rgba(230,216,189,1) 56%, rgba(233,219,192,1) 57%, rgba(230,216,189,1) 58%, rgba(230,216,189,1) 73%, rgba(233,219,192,1) 74%, rgba(233,219,192,1) 98%, rgba(235,221,195,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(233,223,196,1)), color-stop(1%,rgba(233,223,196,1)), color-stop(2%,rgba(237,227,200,1)), color-stop(24%,rgba(237,227,200,1)), color-stop(25%,rgba(235,221,195,1)), color-stop(48%,rgba(233,223,196,1)), color-stop(49%,rgba(235,221,195,1)), color-stop(52%,rgba(230,216,189,1)), color-stop(53%,rgba(230,216,189,1)), color-stop(54%,rgba(233,219,192,1)), color-stop(55%,rgba(230,216,189,1)), color-stop(56%,rgba(230,216,189,1)), color-stop(57%,rgba(233,219,192,1)), color-stop(58%,rgba(230,216,189,1)), color-stop(73%,rgba(230,216,189,1)), color-stop(74%,rgba(233,219,192,1)), color-stop(98%,rgba(233,219,192,1)), color-stop(100%,rgba(235,221,195,1)));
    background: -webkit-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
    background: -o-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
    background: -ms-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
    background: linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
    background-size: 120px;
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item { 
    width: 75%;
    margin: 5px;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    background: white;
    text-shadow: 1px 1px 4px pink;
    font-family: "Finger Paint", sans-serif;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title { 
    color: blue;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.row { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

div.row > p  { 
    margin: 2px;
    font-size: clamp(30px, 8vw, 180px);
    padding-left: 25px;
}

#title-row-the { 
    font-size: clamp(18px, 4vw, 90px)
}

#title-row-cheer {
    font-size: clamp(18px, 1vw, 20px)
}

#title-row-dj {
    width: clamp(60px, 8vw, 120px);
    height: clamp(40px, 6.5vw, 90px);
}

#title-row-jersey {
    width: clamp(40px, 7vw, 90px);
    height: clamp(60px, 10vw, 120px);
}

#title-row-subtitle {
    font-size: clamp(18px, 1vw, 20px);
    color:black;
}

div.row > img  { 
    width: clamp(60px, 10vw, 120px);
    height: clamp(60px, 10vw, 120px);
}

.slogan { 
    opacity: 50%;
    position: absolute;
}

.top-left {
    transform: rotate(-45deg);
    top: 70px;
    left: 0px;
}

.bottom-right {
    bottom: 50px;
    right: 50px;
    transform: rotate(45deg);
}

.icons > img { 
    height: 40px;
    width: 40px;
}

div.premise > p { 
    margin: 0 5% 5% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

div.characters > div.row:nth-child(2) {
    justify-content: space-around;
}

.character-block {
    padding: 15px;
}

div.character-block > li { 
    display: block;
}

.hidden {
    display: none;
}

.character-gallery-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border: 1px solid black;
    overflow: scroll;
    height: auto;
    width: 95%;
    background: grey;
    padding: 10px;
}

div.character-gallery-container > img {
    height: 150px;
    max-width: 200x;
    border: 1px solid black;
}

#character-detail-popup { 
    box-shadow: 5px 5px  5px 5px black;
    position: fixed;
    top: 25%;
    width: 50%;
    height: 50%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
